/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/montserrat-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  html {
      box-sizing: border-box;
  }

 *, *::before, *::after {
     box-sizing: inherit;
 }


 body {
     font-family: "Montserrat";
     font-style: normal;
     font-size: 16px;
     line-height: 1.2;
     font-weight: normal;
     color: #000000;
     width: 100%;
     background-color: #F8F3FF;
 }

 .bigWrapper {
    background-color: #F8F3FF;
    width: 1440px;
    height: 2343px;
    margin: 0 auto;
 }

 .wrapper {
     width: 1312px;
     margin: 0 auto;
     position: relative;
     

 }

/* Header style start */

 .header {
     background-color: #F8F3FF;
     
 }

 .header__wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     justify-content: space-between;
 }

 .hedder__logo {
     padding-top: 26.24px;
     padding-bottom: 25.45px;
 }

 .header__nav{
    padding-bottom: 38px
 }

 .header__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 112px;
 }

 .header__item {
     margin-right: 32px;
 }

 .header__item:last-child {
    margin-right: 0;
 }

 .header__link {
    font-size: 16px;
    line-height: 20px;
    color: #8E43ED;
    text-decoration: none;
 }

 .header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
 }

 /* Header style ends */

 /* Intro style start */


 .profile {
     
     height: 800px;
     padding-top: 100px;
     background: #FFFFFF;
     position:relative
 }

.profile__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    width: 100%;  
}

.profile_img1 {
    position: absolute;
    top: -100px;
    left: -64px;
}

.profile_img2 {
   position: absolute;
   bottom: -100px;
   right: -65px;
}

.profile_img3 {
   position: absolute;
   top: 405.23px;
   left: -64px;
}

.profile__text {
    max-width: 640px;
    margin-left: 32px;
}

.profile__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 112px;
 }

 .value {
     display: inline;
     margin-right: 32px;
     color: #303030;
     font-weight: 500;
     font-size: 16px;
     line-height: 21px;
 }

 .value:last-child {
    margin-right: 0;
 }

 .parameter {
     display: inline;
    margin-right: 8px;
    font-size: 16px;
    line-height: 21px;
    color: #AA7ECD;
    font-weight: bold;
 }

.profile__name {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 24px;
    margin-top: 44px;
}

.profile__information {
    margin-bottom: 64px;
}

.profile__title {
    font-weight: 800;
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 24px;
}

.profile__content {
    font-size: 18px;
    line-height: 32px;
}

.form {
    background-color: #F8F3FF;
    
    height: 750px;
    position: relative;
    z-index: 0;
}

.form__wrapper {
    
}

.form_img1 {
    position: absolute;
    top: 0;
    left:-64px;
    z-index: -1;
    ;
}

.form_img2 {
    position: absolute;
    top: 0;
    right: -64px;
}

.form__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 72px;
    padding-top: 56px;
    margin-bottom: 67px;
    z-index: 1;
}

.form__name {
    position: relative;
    margin-right: 32px;
}

.form__gender {
    position: relative;
}

.name__value, .gender__value {
    position: absolute;
    top: -27px;
}

.form-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

input, select {
    width: 304px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #D9BBFF;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
}

input:focus, input:active {
    border: 1px solid #8E43ED;
}

label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.form-main__submit {
    width: 212px;
    height: 56px;
    left: 64px;
    top: 646px;
    background: #DED9E4;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.form__button {
    position: absolute;
    top: 646px;
}

/* Slider start */

.myslider {
    background-color: #FFFFFF;
    height: 647px;
}

.slider{
    position: relative; 
    height: 647px;
    padding-top: 56px;
}


.img_slide {
    border-radius: 32px;
    width: 1312px;
    height: 535px;
}

.slider .item img {
    object-fit: cover;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
   
}

.vector1 {
    top: 309px;
    position: absolute;
}

.vector2 {
    top: 309px;
    left: 1265px;
    position: absolute;
}

.item {
    position: relative;
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 366px;
    top: 197px;
   
}

.title_slide {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.content_slide {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    max-width: 580px;
}

.slider-dots {
  text-align: center;
  position: absolute;
  left:626px;
  bottom: 138px;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #FFFFFF;;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}